*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #b51917;
    --text-gray: #a6a6a6;
    --back-color: #f8f8f8;
    --text-darkgray:rgb(63, 61, 61);
}


html,
body {
    font-family: sans-serif;
}

::selection {
    background-color: var(--primary);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

span {
    color: var(--primary);
}

header h1,
h2 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/set1-happy-couple-1500x630.jpg') no-repeat center center / cover;
    color: white;
    position: relative;
}

nav {
    padding: 5px 40px;
    font-size: 14px;
    position: absolute;
    width: 100%;
}

nav ul {
    flex-direction: row;
}

nav>ul a {
    padding: 15px 0;
}


nav a :hover {
    color: crimson;
    transition: 0.5s;
}

nav span {
    padding: 0 15px;
    border-right: 1px solid white;
    color: white;
}

.no-border {
    border: none;
}

.slogan h1 {
    font-size: 100px;
    margin-bottom: 40px;
}

.slogan p {
    font-size: 12px;
}

.slogan {
    text-align: center;
    padding: 200px 0;
}

#getting-married,
#our-story {
    padding: 100px 0;
    text-align: center;
}

#getting-married p {
    width: 30%;
    margin: 60px auto;
    color: var(--text-gray);
    font-size: 17px;
    line-height: 1.7em;

}

time {
    color: var(--primary);
    font-size: 40px;
}

i {
    font-size: 20px;
    transform: translate(0, -50%);

    background-color: white;
    padding: 0 12px;
}

.heart {
    color: var(--primary);
    margin: 50px auto;
    width: 400px;
    height: 1px;
    background-color: var(--text-gray);
}

#our-story {
    position: relative;
}

#our-story i,
#our-story {
    background-color: var(--back-color);
}

#our-story p {
    width: 30%;
    color: var(--text-gray);
    text-align: justify;
}

#our-story>div.flex {
    gap: 70px;
}

#our-story::after,
#who-are-we::after,
#maids::after,
#accomodation::after {
    content: '';
    border: 25px solid transparent;
    border-top: 25px solid white;
    display: inline-block;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#who-are-we::after {
    border-top: 25px solid var(--back-color);
}

#who-are-we {
    position: relative;
}

.title {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/set1-young-couple-bw.jpg') no-repeat top center / cover;

    background-attachment: fixed;
    padding: 100px 0;
    color: white;
}

#who-are-we h2 {
    font-size: 60px;
    margin-bottom: 5px;
}

#who-are-we p {
    font-size: 14px;
}


.intro {
    padding: 100px 0;
    gap: 50px;
}

.left,
.right {
    width: 40%;
}

.left img,
.right img {
    width: 100%;
}

.left h2,
.right h2 {
    padding-bottom: 10px;
    text-align: center;
    color: var(--primary);
}

.left p,
.right p {
    color: var(--text-gray);
    line-height: 1.5em;
}

.left>div,
.right>div {
    overflow: hidden;
}

.left>div>img,
.right>div>img {
    transition: 0.5s;
}

.left>div:hover>img,
.right>div:hover>img {
    transform: scale(1.5);
}

#maids{
    position: relative;
}

.groomesmen,
.bridesmaid {
    width: 50%;
    text-align: center;
    background-color: var(--back-color);
    padding: 30px 0;
}

.bridesmaid {
    background-color: rgb(255, 241, 244);
}

#maids figure {
    justify-content: space-evenly;
}

#maids img {
    border-radius: 50%;
    margin: 30px 0;
}

#maids figcaption {
    margin-bottom: 20px;
}

.bridesmaid h2 {
    color: var(--primary);
}

#details {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/set1-young-couple-bw.jpg') no-repeat top center / cover;

    background-attachment: fixed;
    padding: 100px 0;
    color: white;
}

#details h2 {
    font-size: 60px;
    margin-bottom: 5px;
}

#details p {
    font-size: 14px;
}

.ceremony {
    padding: 100px 0;
    gap: 50px;
}

.left-side,
.right-side {
    width: 40%;
}

.left-side img,
.right-side img {
    width: 100%;

    margin: 15px 0;
}

.left-side h2,
.right-side h2 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: var(--text-darkgray);
    font-family: sans-serif;
}

.right-side span{
    color: var(--primary);
}

.left-side p,
.right-side p {
    color: var(--text-gray);
    line-height: 1.5em;
    text-align: center;
}

#accomodation {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/set1-young-couple-bw.jpg') no-repeat top center / cover;

    background-attachment: fixed;
    padding: 100px 0;
    color: white;

    position: relative;
}

#accomodation h2 {
    font-size: 60px;
    margin-bottom: 5px;
}

#accomodation p {
    font-size: 14px;
}




