*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #b51917;
    --text-gray: #a6a6a6;
}


html,
body {
    font-family: sans-serif;
}

::selection {
    background-color: var(--primary);
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

header h1,
h2 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/set1-happy-couple-1500x630.jpg') no-repeat center center / cover;
    color: white;
    position: relative;
}

nav {
    padding: 5px 40px;
    font-size: 14px;
    position: absolute;
    width: 100%;
}

nav ul {
    flex-direction: row;
}

nav>ul a {
    padding: 15px 0;
}

nav a :hover {
    color: crimson;
    transition: 0.5s;
}

nav span {
    padding: 0 15px;
    border-right: 1px solid white;
}

.no-border {
    border: none;
}

.slogan h1 {
    font-size: 100px;
    margin-bottom: 40px;
}

.slogan p {
    font-size: 12px;
}

.slogan {
    text-align: center;
    padding: 200px 0;
}

#getting-married {
    padding: 100px 0;
    text-align: center;
}

#getting-married p {
    width: 30%;
    margin: 60px auto;
    color: var(--text-gray);
    font-size: 17px;
    line-height: 1.7em;

}

time {
    color: var(--primary);
    font-size: 40px;
}